@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <img style="width:200px;" src="~/Images/logo-habitaclia.png" />
    <br />

    <h1>Technical test for Backends (.NET)</h1>
    <h2>David Rivera Brage</h2>

</div>


