
@{
    ViewBag.Title = "Page_3";
}

@using WebApp_TEST.Security

<h2>Page_3</h2>

<div class="row">

<div class="col-md-8">
    <h3>Welcome @SessionPersister.Username !!</h3>
    <br />
    <a class="btn btn-default" href="@Url.Action("Logout","Users")"> Logout </a>

</div>

</div>

